The goal is to find the best combustible for car consumption

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('data/measurements.csv')
df

,distance,consume,speed,temp_inside,temp_outside,specials,gas_type,AC,rain,sun,refill liters,refill gas
0,28,5,26,"21,5",12,NaN,E10,0,0,0,45,E10
1,12,"4,2",30,"21,5",13,NaN,E10,0,0,0,NaN,NaN
2,"11,2","5,5",38,"21,5",15,NaN,E10,0,0,0,NaN,NaN
3,"12,9","3,9",36,"21,5",14,NaN,E10,0,0,0,NaN,NaN
4,"18,5","4,5",46,"21,5",15,NaN,E10,0,0,0,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...
383,16,"3,7",39,"24,5",18,NaN,SP98,0,0,0,NaN,NaN
384,"16,1","4,3",38,25,31,AC,SP98,1,0,0,NaN,NaN
385,16,"3,8",45,25,19,NaN,SP98,0,0,0,NaN,NaN
386,"15,4","4,6",42,25,31,AC,SP98,1,0,0,NaN,NaN
387,"14,7",5,25,25,30,AC,SP98,1,0,0,NaN,NaN

In [3]:
df.duplicated().any()

False

In [4]:
df.isnull().sum()

distance           0
consume            0
speed              0
temp_inside       12
temp_outside       0
specials         295
gas_type           0
AC                 0
rain               0
sun                0
refill liters    375
refill gas       375
dtype: int64

In [5]:
df['specials'].unique()

array([nan, 'AC rain', 'AC', 'rain', 'snow', 'AC snow',
       'half rain half sun', 'sun', 'AC sun', 'sun ac', 'ac', 'AC Sun',
       'ac rain'], dtype=object)

In [6]:
df['refill liters'].unique()

array(['45', nan, '37,6', '37,7', '38', '38,3', '10', '39', '41', '37',
       '37,2'], dtype=object)

In [7]:
df['refill gas'].unique()

array(['E10', nan, 'SP98'], dtype=object)

In [8]:
df['rain'].unique()

array([0, 1])

Standardazing values in 'specials' column

In [9]:
df['specials'] = df['specials'].str.lower() #convert to lowcase

In [10]:
df['specials'] = df['specials'].str.replace(' ', '_') #remove all spaces

In [14]:
df['specials'].unique()

array([nan, 'ac_rain', 'ac', 'rain', 'snow', 'ac_snow',
       'half_rain_half_sun', 'sun', 'ac_sun'], dtype=object)

In [13]:
df['specials'] = df['specials'].replace({'sun_ac': 'ac_sun'}) #cleaning values